/* TODO: Add the responsive styles here */
@media (max-width: 600px) {

    .w3-right {
        display: none;
    }

    .w3-padding-64 {
        display: flex;
        flex-direction: column;
    }
    
    .w3-bar .w3-button {
        font-weight: bold;
    }

    .w3-col.m6 {
        width: 100%;
    }

    .w3-col.l6 {
        width: 100%;
    }

    .w3-col.m6 .w3-opacity-min {
        display: none;
    }
}