@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap );

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

html {
    font: 18px/1.5 'PT-Sans', sans-serif;
}

body, input, button, textarea {
    font: inherit;
}

h1 {font-size: 2.4em;}
h2 {font-size: 2.0em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

/* Components */

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    display: block;
    list-style: none;
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.flex-columns {
    display: flex;
    justify-content: center;
}

.flex-columns.c2 > * {
    flex: 1 1 45%;
}

.flex-columns.c3 > * {
    flex: 0 0 30%;
}

/* Sections */

body {
    background-image: url(images/background.jpg);
    background-position: center -19em;
    background-size: 1920px auto;
    background-repeat: no-repeat;
}

.section .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.section .wrapper.narrow {
    max-width: 1000px;
}

.section-banner,
.section-about,
.section-catalog header {
    text-align: center;
}

.site-header .site-title a {
    display: block;
    width: 7em;
    height: 4em;
    background: url('images/logo.png') center no-repeat;
    background-size: contain;
    text-indent: -100vw;
    overflow: hidden;
}

.section-banner .wrapper {
    padding: 6em 0 4em 0;
}

.section-banner .wrapper h2 {
    padding: 1rem;
}

.section-banner .wrapper .button {
    display: inline-block;
    background-color: white;
    border-radius: 0.3em;
    color: #667;
    text-decoration: none;
    margin-top: 2em;
    padding: 0.5em 1em;
}

.section-catalog .wrapper {
    padding: 1em 0 2em 0;
}

.section-catalog header {
    padding-bottom: 1.5em;
}

.section-catalog header h3 {
    font-size: 1.2em;
}

.section-catalog .flex-columns.c2 {
    gap: 11em;
}

.section-catalog .flex-columns.c2 article {
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.section-catalog .flex-columns.c2 article > * {
    flex: 0 0 50%;
}

.section-catalog .flex-columns.c2 article h4 {
    font-size: 1em;
    text-align: center;
}

.section-catalog .flex-columns.c2 article .media {
    overflow: hidden;
    background: black;
    position: relative;
}

.section-catalog .flex-columns.c2 article .media img {
    position: absolute;
    height: 100%;
    width: auto;
}

.section-catalog .flex-columns.c2 article section {
    background: white;
    padding: 3em 2em;
}

.section-catalog .flex-columns.c3 {
    gap: 3em;
}

.section-catalog .flex-columns.c3 img {
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
}

.section-furniture {
    background: white;
}

.section-furniture .wrapper {
    padding: 3em 0;
}

.section-furniture .flex-columns.c3 {
    gap: 2em;
}

.section-furniture .flex-columns.c3 > * {
    flex: 1 1 30%;
    text-align: center;
}

.section-furniture .flex-columns.c3 img {
    height: 5em;
    width: 5em;
    margin: 0 auto;
}

.section-furniture .flex-columns.c3 h4 {
    font-size: 1.2em;
    color: #68696B;
}

.section-furniture p {
    color: #7F8EA9;
}

.section-about .wrapper {
    padding: 2em 2em;
    opacity: 0.6;
}

.section-about .wrapper header {
    padding-bottom: 2em;
}

.section-about .wrapper header h3 {
    font-size: 1.2em;
}

.section-about .wrapper header p {
    font-style: italic;
}

.section-about .wrapper p {
    max-width: 100ch;
    margin: 0 auto;
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.site-footer {
    background: #2D333C;
    color: white;
    text-align: center;
}

.site-footer .wrapper {
    padding: 1em 0;
}

.section-catalog {
    background: #60ACC1;
}

